{% extends 'public/layout.html' %}

{% block title %}Forgot Password
{% endblock title %}

{% block content %}
<!-- <script>
            
            let new_password=document.getElementById('new_password');
            let confirm_password=document.getElementById('confirm_password').value;
            new_password.style.display="none";
            confirm_password.style.display="none";
        function  change_password(){
            document.getElementById("current_error").innerHTML="";
            document.getElementById("match_error").innerHTML="";
            document.getElementById("success_msg").innerHTML="";
            
            
            console.log("current_password :"+current_password+"<br>")
            console.log("new_password :"+new_password+"<br>")
            console.log("confirm_password :"+confirm_password+"<br>")
            d={
                "new_password":new_password.value,
                "confirm_password":confirm_password.value
            }
            console.log(d["current_password"])
            console.log(d["new_password"])
            console.log(d["confirm_password"])
            dataString = JSON.stringify(d)
            console.log(dataString)
            req= new XMLHttpRequest();
            req.open("POST","");
            req.setRequestHeader("Content-Type","application/json");
            req.send(dataString)
            req.onreadystatechange=function(){
                if(req.readyState==4 && req.status==200){
                    response=req.responseText;
                    console.log(response);
                    responseJson=JSON.parse(response);
                    console.log(responseJson["password_error"]);
                    if (responseJson["password_error"]){
                        document.getElementById("current_error").innerHTML=responseJson["password_error"];
                    }
                    if (responseJson["match_error"]) {
                        document.getElementById("match_error").innerHTML = responseJson["match_error"];
                    }

                    if (responseJson["success_msg"]) {
                        document.getElementById("success_msg").innerHTML = responseJson["success_msg"];
                    }

                }
            }
        }

    </script> -->
<div class="container my-5">
    <h3 class="h1 text-center">
        Forgot Password
    </h3>
    <hr>
    <div class="row my-3">
        <div class="col-lg-4 col-md-6 col-8 m-auto">
            <label for="current_password">Enter Your Email :</label>
            <input type="email" class="form-control" name="email" id="email">
            <span class="my-1 text-secondary d-block">verify your presense</span>
            <p class=" text-secondary">Enter verification code sent on your email...</p>
        </div>
    </div>

    
    <p class="h6 text-success text-center" id="success_msg"></p>

</div>



{% endblock content %}