{% extends 'public/layout.html' %}

{% block title %}Forgot Password
{% endblock title %}

{% block content %}
<script>


    function sendVerificationMail() {
        document.getElementById('error_msg').innerHTML = " ";
        document.getElementById('msg').innerHTML = " ";

        let email = document.getElementById('email').value;
        console.log("email :" + email + "<br>")
        let flag = confirm("Is this your email " + email)
        if (flag) {
            d = {
                "email": email
            }
        }
        dataString = JSON.stringify(d)
        console.log(dataString)
        req = new XMLHttpRequest();
        req.open("POST", "/forgot_password/verification");
        req.setRequestHeader("Content-Type", "application/json");
        req.send(dataString)
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                response = req.responseText;
                console.log(response);
                responseJson = JSON.parse(response);
                if (responseJson["msg"]) {
                    document.getElementById('msg').innerHTML = responseJson["msg"];

                }
                else if (responseJson["error_msg"]) {
                    document.getElementById('error_msg').innerHTML = responseJson["error_msg"];

                }
            }
        }

    }
</script>
<div class="container my-5">
    <h3 class="h1 text-center">
        Forgot Password
    </h3>
    <hr>
    <div class="row my-3">
        <div class="col-lg-4 col-md-6 col-8 m-auto">
            <div id="send_code">
                <label for="current_password">Enter Your Email :</label>
                <input type="email" class="form-control" name="email" id="email">
                <button class="btn btn-info my-3" onclick="sendVerificationMail()">Send Email</button>
                <p id="msg" class="text-primary "></p>
                <p id="error_msg" class="text-danger "></p>
            </div>
            <br>
        </div>
    </div>


    <p class="h6 text-success text-center" id="success_msg"></p>

</div>



{% endblock content %}